// variables
$primary-color: #333;
$secondary-color: #fff;
$tertiary-color: whitesmoke;
$primary-body-color: #999;
$button-hover: #660000; // dark red

body {
  font-family: "Raleway", sans-serif;
  color: $primary-body-color;
}
