body {
  font-family: "Raleway", sans-serif;
  color: #999;
}

button {
  justify-content: center;
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.5s ease;
  font-size: 1.2rem;
}

button:hover {
  background-color: #660000;
  color: #fff;
}

body {
  background-color: #333;
}

.banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cart {
  margin: auto;
  background-color: #999;
  position: fixed;
  top: 0;
  right: -150%;
  width: 100%;
  width: clamp(500px, 800px, 50%);
  padding: 15px;
  overflow-y: scroll;
  transition: right 0.5s ease-in-out; /* add a transition effect */
  color: #fff;
}
@media screen and (max-width: 60rem) {
  .cart {
    width: clamp(500px, 800px, 50%);
  }
}
@media screen and (max-width: 48rem) {
  .cart {
    width: 100%;
  }
}
.cart.show {
  right: 0;
}

.cart__div--header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.cart__div--header .cart__i {
  margin-left: 20px;
}

.cart__div--button,
.cart__div--total {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cart__div {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.cart__div .img_wrapper {
  width: 250px;
}
.cart__div .img_wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart__div .cart__info {
  padding: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.products {
  display: grid;
  width: 85%;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  place-items: center;
  padding: 20px;
}
@media screen and (max-width: 70rem) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media screen and (max-width: 60rem) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media screen and (max-width: 48rem) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.products article {
  width: 100%;
  padding: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
}
.products article img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
header img {
  max-width: 20%;
  max-height: 15vh;
}
header .feather {
  width: 65px;
  height: 65px;
}
header #shopping-cart {
  cursor: pointer;
}
header .header__div {
  position: relative;
  width: auto;
}
header .header__div .cart-badge {
  display: none;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  padding: 6px 6px;
  top: 0;
  right: 0;
}/*# sourceMappingURL=main.css.map */