.cart {
  margin: auto;
  background-color: $primary-body-color;
  position: fixed;
  top: 0;
  right: -150%;
  width: 100%;
  width: clamp(500px, 800px, 50%);
  padding: 15px;
  overflow-y: scroll;
  transition: right 0.5s ease-in-out; /* add a transition effect */
  color: $secondary-color;

  @mixin laptops {
    width: clamp(500px, 800px, 50%);
  }
  @include tablets {
    width: clamp(500px, 800px, 50%);
    right: -150%;
  }
  @include phones {
    width: 100%;
    right: -150%;

    // display: none;
  }

  &.show {
    right: 0;
  }
}

.cart__div--header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .cart__i {
    margin-left: 20px;
  }
}

.cart__div--button,
.cart__div--total {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.cart__div {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  // padding: 15px;
  // background-color: whitesmoke;

  .img_wrapper {
    width: 250px;
    // height: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cart__info {
    padding: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
