.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 450px;
  height: 700px;
  background-color: $primary-body-color;
  border-radius: 5px;
  overflow-y: scroll;
  transition: right 0.3s ease-in-out; /* add a transition effect */

  &.show {
    right: 0;
  }
  &__i {
    color: $secondary-color;
  }

  &__h2 {
    text-align: center;
    color: $secondary-color;
    // border-bottom: 1px solid $secondary-color;
    // margin-right: 20px;
  }

  &__img {
    object-fit: cover;
    width: 33%;
    height: 100%;
  }

  &__div {
    width: 100%;
    height: auto;
    max-height: 150px;
    @include flexbox-row;
    font-size: inherit;
    flex-wrap: wrap;

    justify-content: space-between;
    // border: 2px solid red;
    border-bottom: 2px solid $secondary-color;
    color: $secondary-color;
    // margin: 20px;
  }

  .cart__div--button {
    @include flexbox-row;
    justify-content: center;
  }

  .cart__div--header {
    @include flexbox-row;
    justify-content: center;
    // border: 2px solid red;
    max-width: 100%;
    height: auto;
  }
}
